@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: hidden;
} 

.popup {
    min-width: 368px; 
    max-width: 400px; 
    height: 400px; 
    transform: translate(-50%, 0); 
    left: 50%
}

.plus {
    @apply flex items-center justify-center text-xl ml-2 p-1.5 rounded bg-gray-300 hover:bg-gray-200 cursor-pointer;
}

.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

.arrow {
    visibility: hidden;
}

.arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

