@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: hidden;
}

.popup-base {
    min-width: 368px; 
    max-width: 400px; 
    transform: translate(-50%, 0); 
    left: 50%
}

.popup {
    min-width: 368px; 
    max-width: 400px; 
    transform: translate(-50%, 0); 
    left: 50%;
    height: 400px; 
}

.plus {
    @apply flex items-center justify-center text-xl ml-2 p-1.5 rounded bg-gray-300 hover:bg-gray-200 cursor-pointer;
}

h1 {
    @apply font-bold text-center text-xl;
}

.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

.arrow {
    visibility: hidden;
}

.arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

.blurry {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
